{{#each this}}

<div class="pages-container">

    <ul>
        <li>
            <a class="page arrow-class js-previous-btn" href=""><img src="./images/arrow-left.svg" alt="arrow-left"
                    width="16px" height="16px" /></a>
        </li>
        <li>
            <a class="page js-first-btn" href="">1</a>
        </li>
        <li>
            <a class="page js-2-btn" href="">...</a>
        </li>
        <li>
            <a class="page js-3-btn" href="">13</a>
        </li>
        <li>
            <a class="page js-3-btn" href="">14</a>
        </li>
        <li>
            <a class="page js-3-btn" href="">15</a>
        </li>
        <li>
            <a class="page js-3-btn" href="">16</a>
        </li>
        <li>
            <a class="page js-3-btn" href="">17</a>
        </li>
        <li>
            <a class="page js-8-btn" href="">...</a>
        </li>
        <li>
            <a class="page js-last-btn" href="">20</a>
        </li>
        <li>
            <a class="page arrow-class js-next-btn"><img src="./images/arrow-right.svg" alt="arrow-right" /></a>
        </li>
    </ul>

</div>

{{/each}}